html {
	font-size: 1px;

	@include tablet {
		font-size: 0.7px;
	}
}

body {
	font-family: var(--font-family);
	background: #111827;
	color: #fff;
	font-size: 16rem;
}

.btn {
	display: inline-block;
	border: 0;
	cursor: pointer;
	outline: 0;
	font-family: var(--font-family);
}

.container, header {
	max-width: 1170rem + 40rem;
	padding: 0 20rem;
	margin-inline: auto;
}
