.services{
    margin-top: 61rem;


    &__title{
        font-weight: 700;
        font-size: 42rem;
        color: var(--title-color);
        text-align: center;
        margin-bottom: 30rem;
    }

    &__description{
        max-width: 587rem;
        margin-inline: auto;
        text-align: center;
        font-weight: 400;
        font-size: 16rem;
        line-height: 162%;
        text-align: center;
        color: var(--title-color);
        margin-bottom: 40rem;
    }

    &__main{
        display: flex;
        justify-content: center;
        margin-bottom: 120rem;
    }

    &__info{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 40rem 30rem;

        @include desktop-xs{
            grid-template-columns: auto auto;
        }
        @include tablet{
            grid-template-columns: auto;
        }
    }

    &__content{
        max-width: 370rem;
        border-radius: 34rem;
        box-shadow: 0 22rem 18rem 0 rgba(0, 0, 0, 0.05);
        background: var(--content-background);
        padding-top: 37rem;
        padding-bottom: 30rem;
        border: 1px solid #292f3c;
    }

    &__icon{
        margin-inline: auto;
        width: 75rem;
        border-radius: 50%;
        color: var(--title-color);

        &.order{
            padding: 18rem;
            background: linear-gradient(180deg, #8a7fd9 0%, #402f8f 100%);
            width: 75rem;
        }
        &.social{
            padding: 18px 16px 19px 16px;
            background: linear-gradient(180deg, #d97f95 0%, #923250 100%);
        }
        &.crypto{
            padding: 15px 16px 17px 16px;
            background: linear-gradient(180deg, #84d8ed 0%, #4292bb 100%);
        }
        &.smart{
            padding: 21px 19px 16px 19px;
            background: linear-gradient(180deg, #92efc3 0%, #2f8f5b 100%);
        }
        &.analyzer{
            padding: 18px;
            background: linear-gradient(180deg, #bc7fd9 0%, #923283 100%);
        }
        &.module{
            padding: 18px;
            background: linear-gradient(180deg, #8684ed 0%, #4247bb 100%);
        }
    }


    &__contact-title{
        margin-top: 19rem;
        font-weight: 500;
        font-size: 24rem;
        color: var(--title-color);
        text-align: center;
        margin-bottom: 17rem;
    }

    &__contact-description{
        font-weight: 400;
        font-size: 16rem;
        line-height: 162%;
        color: var(--title-color);
        text-align: center;
        margin-bottom: 24rem;
    }

    &__button{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-inline: auto;
        max-width: 114px;
        font-weight: 400;
        font-size: 16rem;
        line-height: 162%;
        gap: 4rem;
        transition: .2s all ease-in-out;

	&:hover{
		transform: scale(1.15);
        color: var(--hover-color); 
	}
    }


    &__button-icon{
        align-items: center;
        padding-top: 6rem;
    }
}
