.subscribe {
	border-radius: 34rem;
	padding: 50rem 155rem 38rem 155rem;
	text-align: center;
	background: var(--content-background);
    border: 1px solid #292f3c;
    box-shadow: 0 22px 18px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 98rem;
    
    @include tablet-small{
        padding: 50rem 70rem 50rem 70rem ;
    }
    @include mobile{
        padding: 50rem 20rem 50rem 20rem;
    }
	


	&__title {
		font-weight: 700;
        font-size: 42rem;
        text-align: center;
        color: var(--title-color);
        margin-bottom: 13rem;
        @include mobile{
            font-size: 30rem;
        }
	}
    

    &__desc{
        font-family: var(--third-family);
        font-weight: 400;
        font-size: 16rem;
        line-height: 187%;
        text-align: center;
        color: var(--title-color);
        opacity: 0.8;
        margin-bottom: 29rem;
        @include mobile{
            font-size: 15rem;
        }
    }
}

.subscribe-form {
	border-radius: 70rem;
	background: var(--subscribe-background);
	padding: 10rem 31rem;
	padding-right: 14rem;
	gap: 10px;
	display: flex;
	max-width: 717px;
	margin-inline: auto;

	&__input {
		width: 100%;
        font-family: var(--second-family);
		background: transparent;
        border: 0;
        font-weight: 400;
        font-size: 18rem;
        line-height: 167%;
        color: var(--title-color);
        opacity: 0.9;
		&::placeholder {
			color: var(--input-color);
		}

	}

	&__btn {
		display: inline-flex;
        justify-content: center;
        gap: 8rem;
		align-items: center;
		background: var(--contact-background);
        opacity: 0.9;
		padding: 15rem 49rem 15rem 25rem;
        border-radius: 70rem;
		font-family: var(--ff);
		font-weight: 600;
		font-size: 20rem;
		color: var(--title-color);

		@include mobile {
			padding: 10px;
		}

		&-text {
			@include mobile {
				display: none;
			}
		}

		.material-icons {
			display: none;

			@include mobile {
				display: inline-block;
			}
		}

	}
}